body {
  color: #e6e0e9;
  background: #141218;
  font: 100% system-ui;
  height: 100%;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-self: center;
  justify-items: center;
  align-items: center;
  align-content: center;

  overflow: hidden;

  user-select: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media only screen and (hover: none) and (pointer: coarse) {
  body {
    font: 75% system-ui;
  }
}


a {
  color: #000;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e6e0e9;
    background: #141218;
  }

  body a {
    color: #e6e0e9;
  }
}


/*
surf
141218
onsurf
E6E0E9


*/
header {
  text-align: center;
  background-color: #211F26;
  color: #e6e0e9;
  margin: 0;
  padding: 1.5em 0 1.5em 0;
  margin-bottom: 1.5em;
  width: 100dvw;
}

header > h1{
  margin: 0;
  font-size: 3em;
}

nav{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: fit-content;
  gap: 1.5em;
}

nav > a{
  padding: .5em 1em .5em 1em;
  background-color: #D0BCFF;
  color: #381E72;
  font-size: 2em;
  border-radius: 1em;
  text-align: center;
  width: 100%;

  transition: filter .25s;
  
  display: flex;

  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: row;

  vertical-align:middle;

  text-decoration: none;
  font-weight: bold;
  color: #381E72;
  
  gap: .25em;
}

nav > a:hover{
  filter:brightness(75%);
}

nav > a:active{
  filter:brightness(50%);
}

nav > a >img{
  height: 1em;
  width: auto;
  transform: translateY(.1em);
}

h2{
  font-size: 2.75em;
  margin: 0 0 1em 0;
}

