:root {
  --c-primary: #d0bcff;
  --c-primary-on: #381e72;
  --c-primary-container: #4f378b;
  --c-primary-container-on: #eaddff;
  --c-secondary: #ccc2dc;
  --c-secondary-on: #332d41;
  --c-secondary-container: #4a4458;
  --c-secondary-container-on: #e8def8;
  --c-tertiary: #efb8c8;
  --c-tertirary-on: #492532;
  --c-tertiary-container: #633b48;
  --c-tertiary-container-on: #ffd8e4;
  --c-error: #f2b8b5;
  --c-error-on: #601410;
  --c-error-container: #8c1d18;
  --c-error-container-on: #f9dedc;
  --c-surface: #141218;
  --c-surface-on: #e6e0e9;
  --c-surface-variant: #49454f;
  --c-surface-variant-on: #cac4d0;
  --c-surface-container-highest: #36343b;
  --c-surface-container-high: #2b2930;
  --c-surface-container: #211f26;
  --c-surface-container-low: #1d1b20;
  --c-surface-container-lowest: #0f0d13;
  --c-surface-inverse: #e6e0e9;
  --c-surface-inverse-on: #322f35;
  --c-surface-tint: #d0bcff;
  --c-outline: #938f99;
  --c-outline-variant: #49454f;

  --lyric-size: 1em;
  --lyric-normal: #ffffff;
  --lyric-reached: #ffffff40;
  --lyric-not-reached: #ffffff40;
}

body {
  color: #f6f6f6;
  background-color: var(--c-surface);
  font: 100% system-ui;
  margin: 0;
  user-select: none;

  justify-content: center;
  justify-self: center;
  justify-items: center;

  align-items: center;
  align-content: center;
  align-self: center;

  vertical-align: middle;

  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: transparent;
}

::backdrop {
  background-color: var(--c-surface);
}

html {
  height: 100dvh;
  width: 100dvw;
}

img {
  width: 1.25em;
  height: 1.25em;
  filter: invert();
  user-select: none;

  &.tint-light {
    filter: invert(70%) sepia(49%) saturate(1681%) hue-rotate(201deg)
      brightness(111%) contrast(112%);
  }

  &.tint-dark {
    filter: invert(18%) sepia(34%) saturate(2853%) hue-rotate(237deg)
      brightness(90%) contrast(108%);
  }
}

@media only screen and (min-width: 800px) {
  .card {
    max-width: 80dvw !important;
    min-width: 30% !important;
  }
}

@media only screen and (pointer: coarse) {
  body {
    font: 70% system-ui;
  }

  .lyrics-area {
    /* font-size: calc(83.33% * var(--lyric-size)); /* 100% -> 70% -> 50% */
    font-size: 83.33%; /* 100% -> 70% -> 50% */
  }
}

a {
  color: #222;
}

/*
0f0d13
*/

@media (prefers-color-scheme: dark) {
  body {
    color: #e6e0e9;
    background: var(--c-surface-container-lowest);
  }

  body a {
    color: #e6e0e9;
  }
}

/*
* {
  outline: #ffff00a0 2px dotted;
}
*/

:root {
  --lyrics-reached: white;
  --lyrics-not-reached: #d3d3d348;
  /* 3a3a3a*/
}

.touch-bar {
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  overflow: hidden;
  position: absolute;
  bottom: 0em;
  width: 100%;
  align-items: center;
  height: 8em;
}

.bottom-bar {
  font-size: 0.8em;

  background-color: var(--c-surface-container);
  align-self: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;

  display: flex;
  flex-direction: row;

  overflow: hidden;
  position: absolute;
  bottom: 0.5em;
  width: 95%;
  align-items: center;
  gap: 1em;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 1em;
  max-width: 100dvw;

  transition: bottom 0.25s ease-out;
  /*font-size: 1.25em;*/

  > * {
    display: inline-flex;
    flex: 0;
  }
}

.bottom-bar.hidden {
  bottom: -10em;
  transition: bottom 1s ease-in;
}

button {
  background-color: #d0bcff;
  color: #4f378b;
  border: none;
  border-radius: 0.5em;
  padding: 0.25em 0.5em 0.25em 0.5em;
  font-size: 1.2em;
  outline: none;
  transition: brightness 0.5s linear;
}

button:enabled {
  cursor: pointer;
}

button:hover:enabled {
  filter: brightness(75%);
}

button:active:enabled {
  filter: brightness(50%);
}

*:disabled {
  filter: brightness(50%);
}

.playback-progress {
  appearance: none;
  flex: 10;
  height: 1.5em;
  border-radius: 1em;
  background-color: var(--c-primary-container-on);
  background: var(--c-primary);
  padding: 0 0.15em 0 0.15em;
  transition: filter 0.5s;

  --thumb-color: var(--c-primary-container);

  &.dark {
    background-color: var(--c-primary-container) !important;
    background: var(--c-primary-container) !important;

    --thumb-color: var(--c-primary);
  }
}

.playback-button:focus {
  outline: none;
}

.playback-button:active {
  outline: none;
}

.playback-progress:hover:enabled {
  filter: brightness(75%);
}

.playback-progress:enabled {
  cursor: pointer;
}

.playback-progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.2em;
  width: 1.2em;
  aspect-ratio: 1/1;
  border-radius: 1em;
  background-color: var(--thumb-color);
}

.playback-button {
  font-size: 1.5em;

  > span {
    font-size: 1.5em;
  }
}

.playback-time {
  font-size: 1.25em;
  min-width: 2em;
  width: auto;  
}

.lyrics-area {
  background-color: transparent;
  display: flex;
  flex-direction: column;

  /*font-size: 1.2em;*/

  /*
  justify-content: center;
  justify-items: center;
  justify-self: center;

  align-items: center;
  align-content: center;
  align-self: center;
  */

  vertical-align: middle;
  overflow-x: hidden;
  overflow-y: scroll;

  width: fit-content;
  max-width: 90%;
  max-height: 80%;

  box-sizing: border-box;

  scroll-behavior: smooth;
}

.lyrics-area > *:first-child {
  margin-top: 2em !important;
}

.lyrics-area > *:last-child {
  margin-bottom: 2em !important;
}

.lyrics-area.masked {
  mask-image: linear-gradient(
    180deg,
    transparent,
    transparent 1%,
    rgba(0, 0, 0, 0.05) 5%,
    black 20%,
    black 80%,
    rgba(0, 0, 0, 0.05) 95%,
    transparent 99%,
    transparent
  );
}

::-webkit-scrollbar {
  width: 0;
}

.lyrics {
  align-items: start;
  justify-items: start;
  align-content: start;
  justify-content: start;

  font-size: 4em;
  font-weight: bolder;

  word-wrap: normal;
  word-break: normal;

  margin: 0.25em;

  width: 95%;
  max-width: 100%;
  box-sizing: border-box;

  /*--lyrics-reached: #c6afff;*/
  --lyrics-reached: #ffffff;

  transition: color 1s, filter 0s, text-shadow 1s, --lyrics-reached 1s,
    -webkit-text-stroke 1s, margin-top 0.2s,
    transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  /* margin-bottom 0.2s */

  /*
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  */
}

.lyrics.small {
  font-weight: 400;
  font-size: 3.5em;
  margin-top: -0.3em;
  padding-top: 0;
  padding-left: 0.15em;
}

.lyrics.left {
  text-align: left;
}

.lyrics.right {
  text-align: right;
}

.lyrics-word {
  display: inline-block;
  white-space: pre;

  &.part {
    white-space: nowrap;
  }
}

.lyrics-area.lite {
  .lyrics-word {
    display: inline !important;
    white-space: normal !important;
  }
}

.lyrics:not(.vertical):not(.reached):not(.notreached),
.interlude {
  filter: opacity(1);
  color: transparent;

  & > .lyrics-word {
    /* Convert percentage to degrees (0% -> 0deg, 100% -> 180deg) and calculate sine */
    transform: translateY(var(--height)) scale(var(--scale));

    background-image: linear-gradient(
      to right,
      var(--lyrics-reached),
      var(--lyrics-reached) var(--progress),
      var(--lyrics-not-reached) var(--progress),
      var(--lyrics-not-reached)
    );
    /*animation: wipe-right var(--lyrics-length) linear 0s iteration-count direction fill-mode;*/
    background-clip: text;
    text-size-adjust: auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* transform: translateY(calc( sin( (var(--progress)/2.0) * 1turn ) * 1em)); */

    /*transition: background-image 0.2s;*/
  }
}

.lyrics.vertical > .lyrics-word {
  display: inline !important;
  white-space: normal !important;
}

.lyrics.vertical:not(.reached):not(.notreached) {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  background-image: linear-gradient(
    to bottom,
    var(--lyrics-reached),
    var(--lyrics-reached) calc(var(--progress) * 0.95 + 5%),
    var(--lyrics-not-reached) calc(var(--progress) * 0.95 + 5%),
    var(--lyrics-not-reached)
  ) !important;

  background-clip: text;
  text-size-adjust: auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.lyrics.reached,
.lyrics.notreached {
  /*font-size: 3.75em;*/
  /*margin: 0.25em;*/

  transition: filter 1s;

  filter: opacity(25%);

  --lyrics-reached: white;
  color: var(--lyric-normal);

  /*text-shadow: none;*/

  /*
  &:hover {
    filter: opacity(60%) !important;
    color: var(--lyric-normal) !important;
  }
    */

  cursor: pointer;

  & .lyrics-word {
    background-image: none;
    background-clip: border-box;
    text-size-adjust: auto;
    -webkit-text-fill-color: var(--lyric-normal);
    -webkit-background-clip: text;
    color: var(--lyric-normal);
  }
}

/*
.lyrics.notreached {

  --lyrics-reached: white;

  filter: opacity(25%);
  &:hover {
    filter: opacity(100%) !important;
  }

  cursor: pointer;

  & .lyrics-word {
    background-image: none;
     background-clip: border-box;
    text-size-adjust: auto;
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
  }
}
*/

@keyframes wipe-right {
  0% {
    background-image: linear-gradient(
      to right,
      var(--lyrics-reached),
      var(--lyrics-reached) 0%,
      var(--lyrics-not-reached) 0%,
      var(--lyrics-not-reached)
    );
  }
  100% {
    background-image: linear-gradient(
      to right,
      var(--lyrics-reached),
      var(--lyrics-reached) 100%,
      var(--lyrics-not-reached) 100%,
      var(--lyrics-not-reached)
    );
  }
}

.anim-paused {
  animation-play-state: paused;
}

.interlude {
  align-items: start;
  justify-items: start;
  align-content: start;
  justify-content: start;

  font-size: 4em;
  font-weight: bolder;

  margin: 0.25em;

  width: 100%;

  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    margin 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  transform: scale(0);
  transform-origin: bottom left;
  height: 0;

  /*--lyrics-reached: #c6afff;*/
  --lyrics-reached: #ffffff;
}

/*
.interlude > span {
  transform: translateY(calc(var(--multiplier) * 1em)), var(--multiplier) * 1.5;
  font-size: var(--multiplier) * 1em ;
}

.interlude > span:nth-child(1) {
  --multiplier: calc((var(--progress)*100) / 33);
}

.interlude > span:nth-child(2) {
  --multiplier: calc(((var(--progress)*100)-34) / 33);
}

.interlude > span:nth-child(3) {
  --multiplier: calc(((var(--progress)*100)-67) / 33);
}
*/

.interlude.open {
  transform: scale(1);
  height: auto;
  margin: 1em 0.25em 1em 0.25em;
}

/*
.interlude-circles {
}
*/

.import {
  background-color: #00000098;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;

  transition: opacity 1s;

  display: flex;

  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  vertical-align: center;

  font-size: 1.25em;
}

.import.closed {
  opacity: 0;
  display: none;
}

.card {
  background-color: #36343b;
  padding: 2em;
  border-radius: 2em;
}

.card > h1 {
  margin: 0;
}

.import-buttons {
  display: flex;
  gap: 1em;
}

.import-buttons > button {
  flex-grow: 1;
  padding: 0.5em;
  background-color: transparent;
  color: #d0bcff;
  font-weight: bold;
}

.disabled {
  display: none;
  visibility: hidden;
}

.special-import {
  color: #d0bcff;
  transition: text-decoration 0.25s, filter 0.25s;
  cursor: pointer;
}

.special-import:hover {
  text-decoration: underline 0.05em #a090c5;
  filter: brightness(75%);
}

.card {
  font-size: 1em;

  max-width: 85dvw;

  box-sizing: content-box;

  background-color: var(--c-surface-container);
  color: #e6e0e9;
  border: none;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  display: block;

  a {
    display: inline;
  }
}

.card.import {
  border: var(--c-primary-container-on) solid 0.1em;

  font-size: 1em;

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: left;
    margin: 0.5em;
  }

  p {
    margin: 0.25em;
  }

  button {
    font-size: 1em;
    margin: 0.25em;
  }
}

.card.confirm {
  > img {
    margin-top: 0.25em;
    scale: 1.5;
  }

  .confirm-header {
    margin-top: 0.25em;
    text-align: center;
  }

  .confirm-contents {
    max-height: 16em;
    margin-bottom: 0.5em;

    &:empty {
      overflow: hidden;
      height: 0;
    }

    &:not(:empty) {
      overflow: auto;
    }
  }

  p {
    margin: 0 1em 0 1em;

    &:empty {
      height: 0;
    }
  }
}

.children-block {
  > * {
    display: block;
  }
}

.children-inline {
  > * {
    display: inline;
  }
}

.children-width-100 {
  > * {
    width: 100%;
  }
}

.children-fill {
  display: flex;

  &.equal {
    > * {
      flex: 1;
    }
  }

  &.second {
    > *:nth-child(2) {
      flex: 100;
    }

    > *:not(:nth-child(2)) {
      flex: 1;
    }
  }

  &.first {
    > *:first-child {
      flex: 100;
    }

    > *:not(:first-child) {
      flex: 1;
    }
  }

  &.col {
    flex-direction: column;
    justify-items: center;
  }

  &.row {
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
}

button,
input[type="submit"] {
  &.normal,
  &.clear,
  &.inverse {
    border-radius: 1em !important;
    padding: 0.75em !important;
    outline: none;
    border: none;
    transition: filter 0.25s;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    user-select: none;
  }

  &.normal {
    background-color: #4f378b;
    color: var(--c-primary-container-on);
  }

  &.clear {
    background-color: transparent;
    color: var(--c-primary);
    padding: 0.5em;
  }

  &.inverse {
    background-color: var(--c-primary);
    color: var(--c-primary-on);
  }

  &:enabled {
    cursor: pointer;
  }

  &:enabled:hover {
    filter: brightness(80%);
  }

  &:enabled:active {
    filter: brightness(70%);
  }
}

.bright-outline {
  border: var(--c-primary-container-on) solid 0.1em !important;
}

.outlined {
  outline: yellow 2px dotted;
}

.spacer {
  width: 100%;
  margin: 0.5em 0 0.5em 0;
  height: 0.1em;
  background-color: #413d44;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -99;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  filter: blur(100px) brightness(50%);
  user-select: none;

  > * {
    width: 100%;
    height: 100%;
  }

  &.disabled {
    display: none;
    animation: none;
  }
}

.blur-cover {
  z-index: -101;
  user-select: none;

  * {
    filter: none;
    animation: spinny 20s linear 0s infinite forwards;
    width: auto;
    height: 100%;
    user-select: none;
  }

  *:nth-child(1) {
    position: fixed;
    top: 1%;
    left: 7%;
    animation-direction: alternate;
    animation-duration: 10s;
  }

  *:nth-child(2) {
    position: fixed;
    top: 7%;
    right: 7%;
    animation-direction: backwards;
    animation-duration: 15s;
  }

  *:nth-child(3) {
    position: fixed;
    top: 50%;
    left: 50%;
    animation-duration: 25s;
  }

  *:nth-child(4) {
    position: fixed;
    top: 10%;
    left: -25%;
    animation-direction: alternate-reverse;
    animation-duration: 20s;
  }

  *:nth-child(5) {
    position: fixed;
    top: -10%;
    right: -25%;
    animation-duration: 22s;
  }

  &::after {
    z-index: 10000;
    position: fixed;
    width: 150%;
    height: 150%;
    background-color: transparent;
    transition: background-color 0.5s;
    content: "";
  }

  &.black::after {
    background-color: black;
  }
}

.music-video {
  filter: brightness(30%);
  width: 100%;
  height: auto;
  outline: 2px dotted yellow;
}

@keyframes spinny {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.md3.switch {
  user-select: none;
  position: relative;
  height: 1.5em;
  width: 2.5em;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  padding-right: 2.5em;
  font-family: "Roboto", sans-serif;
}

.md3.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

/* track */
.md3.switch span.slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--c-surface-variant);
  width: 2.4em;
  height: 1.4em;
  border-radius: 1.4em;
  border: 0.1em solid var(--c-outline);
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

/* thumb */
.md3.switch span.slider::before {
  position: absolute;
  content: "";
  height: 0.8em;
  width: 0.8em;
  left: 0px;
  margin: 0.3em;
  background-color: var(--c-outline);
  border-radius: 1.4em;
  transition: left 175ms cubic-bezier(0, 0.5, 0.5, 1.5),
    background-color 0.1s ease-in-out, height 50ms ease-in-out,
    width 50ms ease-in-out, margin 50ms ease-in-out;
}

/* icon */
.md3.switch span.slider span.icon {
  position: relative;
  left: 0px;
  margin: 0.3em 0em;
  height: 0.8em;
  width: 0.8em;
  font-size: 0.8em;
  text-align: center;
  opacity: 0;
  transition: left 175ms cubic-bezier(0, 0.5, 0.5, 1.5);
  color: var(--c-surface-variant);
}

/* active track */
.md3.switch input:checked + span.slider {
  background-color: var(--c-primary-container);
  border-color: transparent;
}

/* active thumb */
.md3.switch input:checked + span.slider::before {
  background-color: var(--c-primary);
  height: 1.2em;
  width: 1.2em;
  left: 1em;
  margin: 0.1em;
}

/* hover thumb */
.md3.switch input:not(:disabled):hover + span.slider::before {
  background-color: var(--c-surface-variant-on);
}

/* active hover thumb */
.md3.switch input:not(:disabled):checked:hover + span.slider::before {
  background-color: var(--c-primary-container-on);
}

/* click thumb */
.md3.switch input:not(:disabled):active + span.slider::before {
  height: 1.4em;
  width: 1.4em;
  margin: 0px;
}

/* active click thumb */
.md3.switch input:not(:disabled):checked:active + span.slider::before {
  background-color: var(--c-primary-container);
}

/* active icon */
.md3.switch input:checked + span.slider span.icon {
  left: 1.3em;
  opacity: 1;
  color: var(--c-primary-container-on);
}

/* disabled track */
.md3.switch input:disabled + span {
  cursor: not-allowed;
}

.md3.switch input:disabled + span.slider {
  background-color: #49454f2d;
  border-color: #e6e0e92d;
}

.md3.switch input:disabled:checked + span.slider {
  background-color: #e6e0e92d;
  border-color: #e6e0e900;
}

/* disabled thumb */
.md3.switch input:disabled + span.slider::before {
  background-color: #e6e0e960;
}

.md3.switch input:disabled:checked + span.slider::before {
  background-color: var(--c-surface);
}

/* disabled icon */
.md3.switch input:disabled:checked + span.slider span.icon {
  color: #e6e0e960;
}

.md3.switch input:focus-visible + span.slider {
  outline: 0.1em solid var(--c-primary);
}

.fps.hidden {
  opacity: 0;
}

.neo-overlay {
  z-index: 1000000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.349);

  transition: opacity .2s;
  opacity: 1;
  visibility: visible;

  &.closed {
    opacity: 0;
    visibility: hidden;
    
  }
}

.neo-card {
  background-color: var(--c-surface-container);
  padding: 1.5em;
  border-radius: 2em;
  outline: 2px var(--c-primary) solid;

  display: flex;
  flex-direction: column;
  justify-items: center;

  & > h1 {
    text-align: center;
    margin: 0;
  }
}

.setting-entry {
  display: flex;
  & > :first-child {
    flex: 100;
  }
  & > :not(:first-child) {
    flex: 1;
  }
  flex-direction: row;
  justify-items: center;
  align-items: center;

  p {
    font-size: 1.25em;
  }

  .md3 {
    font-size: 1.2em;
  }
}
