.choice {
  font-size: 36pt;
  padding: 0.35em;
  width: 100%;
  border: none;
  border-radius: 16px;
  margin-bottom: 0.25em;
  display: inline-block;
  transition: all 0.2s;
  color: white;
  font-weight: bold;
}

.choice.A {
  background-color: #ff7066;
}

.choice.B {
  background-color: #69c981;
}

.choice.C {
  background-color: #66b0ff;
}

.choice.D {
  background-color: #9966ff;
}

.choice.correct {
  background-color: limegreen;
  height: 3.25em;
}

.choice.correct:hover{
  box-shadow: 0 5px 15px rgb(102, 255, 0);
}

.choice.wrong {
  background-color: red;
  height: 3.25em;
}

.choice.choice.wrong:hover{
  box-shadow: 0 5px 15px rgb(255, 51, 0);
}

.currentNumberText {
  text-align: center;
  font-size: 32pt;
  /*bottom: 50%;
  top: 50%;*/
  display: inline-block;
  text-align: center;
  vertical-align: text-bottom;
  font-weight: bold;
}

.currentAnswerText {
  flex: 0;
  font-size: 32pt;
  margin: 0;
  font-weight: bold;
}

.controlButtons {
  font-size: 24pt;
  padding: 0.5em;
  border: none;
  border-radius: 16px;
  margin-bottom: 0.25em;
  /*transition: all 0.2s;*/
  color: white;
  font-weight: bold;
}

.controlButtons.left {
  background-color: #ff9e59;
  flex: 1;
  margin-right: 0.25em;
}

.controlButtons.right {
  background-color: #e768e2;
  flex: 1;
  margin-left: 0.25em;
}

.controlButtons.center {
  background-color: #7569e5;
  flex: 100;
}

/*
.imageButton.settingsButton {
  transition: transform 1s;
}

.imageButton.settingsButton:hover {
  transform: rotate(180deg);
}
*/
